@import 'https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css';@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap';@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap';.grid {
    width:100%;
    padding: 0 32px;
    max-width:1024px;
    margin: 0 auto;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-flow: row;
}
.row:after, .grid:after{
    clear:both;
    content:"";
    display:table;
}
.column{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width:100%;
    float:left;
    box-sizing:border-box;
}
@media only all{
    .column:not(.no-margin){margin-right:2%;}
    .column:last-child{margin-right: 0;}
    .column.one{width:6.5%;}
    .column.one.no-margin:not(:last-child){width:8.5%;}
    .column.two{width: 15%;}
    .column.two.no-margin:not(:last-child){width:17%;}
    .column.three{width: 23.5%;}
    .column.three.no-margin:not(:last-child){width:25.5%}
    .column.four{width: 32%;}
    .column.four.no-margin:not(:last-child){width:34%}
    .column.five{width: 40.5%;}
    .column.five.no-margin:not(:last-child){width:42.5%}
    .column.six{width: 49%;}
    .column.six.no-margin:not(:last-child){width:51%}
    .column.seven{width: 57.5%;}
    .column.seven.no-margin:not(:last-child){width:59.5%}
    .column.eight{width: 66%;}
    .column.eight.no-margin:not(:last-child){width:68%}
    .column.nine{width: 74.5%;}
    .column.nine.no-margin:not(:last-child){width:76.5%}
    .column.ten{width:83%;}
    .column.ten.no-margin:not(:last-child){width:85%}
    .column.eleven{width:91.5%}
    .column.eleven.no-margin:not(:last-child){width:93.5%}
    .column.offset-one{margin-left:8.5%;}
    .column.offset-two{margin-left:17%;}
    .column.offset-three{margin-left:25.5%;} 
    .column.offset-four{margin-left:34%;}
    .column.offset-five{margin-left:42.5%;}
    .column.offset-six{margin-left:51%;}
    .column.offset-seven{margin-left:59.5%;}
    .column.offset-eight{margin-left:68%;}
    .column.offset-nine{margin-left:76.5%;}
    .column.offset-ten{margin-left:85%;}
    .column.offset-eleven{margin-left:93.5%;}
} 
@media (max-width: 640px){
.row:not(.non-responsive) > .column{ 
        width:100% !important;
        margin-right:0;
        margin-left:0;
    }
    .large-only {
        display:none;
    }
    .row:not(.non-responsive){
        flex-direction: column;
    }
}
@media (min-width: 640px){
    .small-only {
        display:none;
    }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
}

body {
    font-size:1.6em;
    line-height:1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
font-weight:400;
}

h1 { font-size: clamp(2.5rem, 7.5vw, 5rem);}
h2 { font-size: clamp(2rem, 7vw, 4.5rem); }
h3 { font-size: clamp(1.5rem, 6.5vw, 4rem); }
h4 { font-size: clamp(1rem, 6vw, 3.5rem); }
h5 { font-size: clamp(0.5rem, 5.5vw, 3rem); }
h6 { font-size: clamp(0.5rem, 5vw, 2.5rem); }

.subtext { 
    font-size:1.85rem;
    font-weight: 300; 
}
.subtext strong {
    font-weight: 400;
}

header, .alertBox, .item, footer {
    margin-bottom: 3rem;
}

em{
    font-style: italic;
}

header {
    width:100%;
    display: flex;
    flex-direction: row;
}

.alertBox {
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color:#F5F5F5;
    border-radius: .5rem;
    padding:2rem;
}

.alertBox {
    color: #575757;
}
.alertBox .subtext {
    color: #8B8B8B;
    font-size: clamp(0.5rem, 5vw, 1.85rem);
}

.alertBox .image_container img{
    height: 12.5rem;
    vertical-align: middle;
    border-radius: .5rem;
    margin-right: 1rem;
}

.alertBox a:visited, a:link {
    color: #888;
}

.alertBox .subtext a, .item .front .info_container a{
    color: #888;
    text-decoration: none;
}

.alertbox a[href]:hover, .alertBox a:hover, .item .front .info_container a:hover {
    color: #1DB954;
    text-decoration: underline;
}

.info_container a p{
    font-size: clamp(0.5rem, 5vw, 1.85rem);
}


.alertBox .subtext a{
    font-size: clamp(0.5rem, 5vw, 1.85rem);
}

/* .alertBox .subtext a{
    font-size: clamp(0.5rem, 5vw, 2.5rem);
} */

header #icon, header #url_submit_button {
    box-sizing: border-box;
    min-width:8rem;
    line-height: 8rem;
    text-align: center;
    font-size: 5rem;
}

header #icon {
    font-weight: 600;
    background: #1DB954;
    color:#fff;
    border: 1px solid #1DB954;
}


header #url_submit_button {
    color: #ccc;
    font-size: 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bbb;
}

header #url_submit_button:hover {
    color: #888;
    cursor: pointer;
}

header #url_input {
    line-height: 8rem;
    padding: 0;
    padding-left:2rem;
    width:100%;
    border:0;
    font-size: 1.8rem;
    font-family: 'Source Code Pro', monospace;
    border-bottom: 1px solid #bbb;
}

.item {
    display:grid;
    align-items: end;
    height:100%;
}

.item .behind {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom:none;
    height:100%;
    z-index: 1;
    margin-bottom: 1rem;
}

.item .behind img{
    width: 100%;
    height: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.item .front {
    background: #F5F5F5;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    height: fit-content;
}

.item .front, .item .behind {
    grid-column: 1;
    grid-row: 1;
}


.info_container {
    flex-grow: 1;
    padding:1rem;
}
.info_container .small {
    font-size: 1.5rem;
    color:#888;
}

.button_container {
    padding:1rem;
}

.button_container .button{
    background: #fff;
    border-radius: .5rem;
    border: 1px solid #1DB954;
    padding:1rem;
    padding-left:1.25rem;
    padding-right:1.25rem;
    color: #1DB954;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button_container .square {
    padding-left: 1.725rem;
    padding-right: 1.725rem;
}

.button_container .button:hover{
    background: #1DB954;
    color: #fff;
    cursor: pointer;
}

.grayed .button:hover{
    background: #fff;
    color: #888;
    cursor: auto;
}

.grayed .button{
    border: 1px solid #888;
    color: #888;
}

img.grayed{
    filter: grayscale(100%)
}

footer p, footer a, footer a:active{
    color:#888;
}

.halt {
    color: chocolate;
}

@media (max-width: 640px) {
    .alertBox {
        background-color: #F5F5F5;
        border-radius: .5rem;
        padding: 2rem;
        align-items: center;
        display: block;
    }
    .alertBox .image_container img{
        width: 100%;
        height: 100%;
        margin-right: 0;
    }
    .item {
        background: #F5F5F5;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-radius: .5rem;
    }

    .item .behind {
        margin: 0;
        height: 100%;
    }

    .item .behind img{
        height: 8rem;
        width: 8rem;
        border-radius: .5rem;
        margin-top: .5rem;
        margin-left: .5rem;
        margin-right: .25rem;
    }
    
    .item .front {
        width: 100%;
        background: none;
        border: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        justify-content: space-between;
    }
}